# ignore project dependencies
node_modules

# database for local development
.rcc-postgres-data

# environment files for docker
.env.docker
.env.docker.development
.env.docker.production

# ignore package builds
dist
